:root {
  /*--sl-font: 'Xanh Mono', monospace;*/
  /*--sl-font-mono: 'Xanh Mono', monospace;*/
  --sl-text-base: 1.125rem;
  --sl-text-sm: 1.125rem;
  --sl-text-xs: 1rem;
  --sl-color-text-accent: Gold;
  --sl-color-text-accent-high: Yellow;
  --sl-color-text-accent-low: Orange;
}

:root[data-theme="dark"] {
  --sl-color-bg: black;
  --slsg-node-color-current: Gold;
}

:root[data-theme="light"] {
  --slsg-node-color-current: Blue;
}

.sl-markdown-content {
  font-size: 1.25rem;
}

starlight-obsidian-theme-select > button {
  padding: 0.5em;
  margin-left: -0.5em;
}

.header {
  border-bottom: none;
}

@media (max-width: 50rem) {
  .title-wrapper {
    width: 100%;
  }
  .logo {
    margin: 0 auto;
  }
  #logo-canvas {
    height: 130px !important;
  }
}
@media (max-width: 30rem) {
  #logo-canvas {
    height: 80px !important;
  }
}
@media (min-width: 50rem) {
  #logo-canvas {
    height: 150px !important;
  }
}
