### Hugo ###
/0_meta/resources/_gen/
/0_meta/assets/jsconfig.json
/0_meta/.hugo_build.lock
/0_meta/go.mod
/0_meta/hugo.toml
/0_meta/archetypes/*
!/0_meta/archetypes/.gitkeep
/0_meta/assets/*
!/0_meta/assets/.gitkeep
hugo_stats.json
hugo.exe
hugo.darwin
hugo.linux

### ASTRO ###
# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

public/notes/
src/content/docs/notes
src/content/*.ts
src/assets/
src/.obsidian/
0_meta/**/*.css
0_meta/**/*.js
0_meta/**/*.jsx
package.json
astro.config.mjs
tsconfig.json
0_meta/src/content/**/*.md
0_meta/src/content/**/*.mdx
0_meta/src/content.config.ts

processor/data/*

.orgids
