### Hugo ###
/website/public/
/website/resources/_gen/
/website/assets/jsconfig.json
/website/.hugo_build.lock
/website/go.mod
/website/hugo.toml
/website/archetypes/*
!/website/archetypes/.gitkeep
/website/assets/*
!/website/assets/.gitkeep
/website/content/**/*.md
hugo_stats.json
hugo.exe
hugo.darwin
hugo.linux
