{{ if eq .chezmoi.os "windows" -}}
{{ range .packages.windows.wingets -}}
winget install {{ . }} --no-upgrade
{{ end -}}
{{ range .packages.windows.modules -}}
Install-Module -Name {{ . }} -Scope CurrentUser -Force
{{ end -}}
{{ end -}}
