---
import { getCollection } from 'astro:content';

const allDocs = await getCollection('docs');
const allNotes = allDocs.filter(doc => doc.id.startsWith('notes/'));
const randomPost = allNotes[Math.floor(Math.random() * allNotes.length)];
---

<a href={`/${randomPost?.slug || ''}`}>Explore.</a>
