---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Sidebar.astro';
import Search from '@astrojs/starlight/components/Search.astro';
//import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro';
import Logo from '../components/Logo.tsx'

import config from 'virtual:starlight/user-config';

const shouldRenderSearch = config.pagefind || config.components.Search !== '@astrojs/starlight/components/Search.astro';
console.log(config)
---

<div class="sidebar-top">
  <div class="title-wrapper ">
    <Logo client:load {...config}/>
    <!--<SiteTitle {...Astro.props} />-->
  </div>

  {shouldRenderSearch && <Search {...Astro.props} />}

  <MobileMenuFooter {...Astro.props} />
</div>

<Default {...Astro.props}><slot /></Default>
